*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#details-page h1{
 text-align: center;
 margin: 0 auto;
 font-size: 60px;
 color: rgba(6, 155, 155, 0.705);
}

#details-page p{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: gray;
}










